.home
{
    padding: 0px 10px;
    padding: 100px;
}
.hero
{
    max-width: 600px;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
}
.hero h1
{
    font-size: max(4vw, 36px);
}
.hero p
{
    width: 75%;
    color: #e3e3e3;
    line-height: 1.5;
}
.hero form
{
    padding: 8px;
    width: 80%;
    background-color: #fff;
    border-radius: 5px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
form input
{
    border: none;
    flex: 1;
    font-size: 16px;
    outline: none;
    padding-left: 10px;
}
form button
{
    border: none;
    padding: 10px 30px;
    background: #7927ff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.crypto-table
{
    max-width: 800px;
    margin: auto;
    background: linear-gradient(rgba(84,3,255,0.15),rgba(105,2,153,0.15));
    border-radius: 15px;
}
.crypto-layout
{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1.5fr;
    padding: 15px 20px;
    align-items: center;
    border-bottom: 1px solid #3c3c3c;
}
.marketCap
{
    text-align: right;
}
.crypto-layout:last-child {
    border: none;
}
.crypto-layout div
{
 display: flex;   
 align-items: center;
 gap: 10px;
}
.crypto-layout div img
{
    width: 35px;
}
.crypto-layout .green
{
    color: #00D515;
    text-align: center;
}
.crypto-layout .red
{
    color: #ff4646;
    text-align: center;
}

@media (max-width: 768px) {
    .crypto-layout
    {
        grid-template-columns: 0.5fr 3fr 1fr 1fr;
    }
    .marketCap {
        display: none;
    }
}
@media (max-width: 500px) {
    .crypto-layout div img 
    {
        width: 25px;
    }
    .crypto-layout {
        font-size: 13px;
    }
    .hero form input {
        width: 100px;
    }
    .home
    {
        padding: 0;
    }
}